#hidden{
    visibility: hidden;
    /* display: none; */
}
#alinearwasa{
    display: flex;
    width: 75%;
}
#contacto{
    width: 10%;
    height: 20%;
    margin: 0 auto; 
}
#logo{
    width: 50%;
    height: 40%;
    margin: 0 auto; 
}
#main{
    position: absolute;
    margin: 0 auto;
}
@media print{
    body * {
        visibility: hidden;
      }

    #hidden *{
        display: block;
        margin-top: auto;
        visibility: visible;
        text-align: center;
    }
}